.rev-container {
  width: 100%;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.rev-title {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: bold;
}

.rev-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.rev-form input,
.rev-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.rev-btn {
  background: #d30000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.rev-table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.rev-table th {
  background: #111;
  color: white;
  padding: 10px;
}

.rev-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
