.vender-moto-container {
  max-width: 450px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.moto-info p {
  margin: 5px 0;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn-vender {
  width: 100%;
  padding: 14px;
  background: #d30000;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-vender:hover {
  background: #a40000;
}
